<h1>候选人名单</h1>

<%= icon_link_to '新增候选人',new_candidate_path,'knight' %>

<table class = 'table'>

    <thead>
        <tr>
            <td>投票</td>
            <td>候选人名字</td>
            <td>政党</td>
            <td>政见</td>
            <td>得票数</td>
            <td>处理</td>
        </tr>
    </thead>

    <tbody>
        <%= render @candidates%>
    </tbody>

</table>

